extends ../layout

block content
  #content
    h3.title Create new user
    .row
      .col-md-2.col-md-offset-5
        form(method='post' action='/users/store')
          div.form-group.required
            label(for='firstName') FirstName
            input.form-control(type='text' id='firstName' placeholder='Firstname' name='firstName' required value=body === null ? '' : body.firstName)
          div.form-group.required
            label(for='lastName') LastName
            input.form-control(type='text' id='lastName' placeholder='Lastname' name='lastName' required value=body === null ? '' : body.lastName)
          div.form-group.required
            label(for='username') Username
            input.form-control(type='text' id='username' placeholder='Username' name='username' required value=body === null ? '' : body.username)
          div.form-group.required
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='Password' name='password' required)
          div.form-group.required
            label(for='confirmPassword') Confirm Password
            input.form-control(type='password' id='confirmPassword' placeholder='Confirm Password' name='confirmPassword' required)
          button.btn.btn-primary(type='submit') Register

        if (errors)
          .answer-errors
            .error
              each error in errors
                p #{error.msg}