html
	head
		title Forum System
		block css
			link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
			link(href='/css/site.css' rel='stylesheet')
		block scripts
			script(src='https://code.jquery.com/jquery-2.2.0.min.js')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
	body
		#container
			block header
			#header
				h1.title Forum System
				ul
					li
						a(href='/') Home
					li
						a(href='/threads') Threads
					if (currentUser)
						if (currentUser.roles.indexOf('Admin') > -1)
							li
								a(href='/categories') Categories
							li
								a(href='/users/all') Users
							li
								a(href='/admins/all') Admins
						li
							span.username Welcome, 
								a(href=`/users/profile/${currentUser.username}`) #{currentUser.fullname()}
							form(method='post' action='/users/logout')
								input(type='submit' value='Logout')
					else
						li
							a(href='/users/register') Register 
							a(href='/users/login') Login

			block content
			block foot
				#footer
					p All rights reserved
			block scripts
				script(src='/js/site.js')